.btn-sm{
	display: flex;
	justify-content: center;
}
.card-title, .card-text{
	text-align: center;
}
.navbar-collapse{
	display: flex;
	Justify-content: flex-end;
}
.logos{
	display: flex;
	justify-content: center;
}

